* {
    box-sizing: border-box;
  
  }

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 10px;

}
#search{
    width: 40%;
    height: 40px;
    border: 1.5px solid;
    border-color: Grey;
    border-radius: 5px;
    margin: 4px auto;
    display: flex;
}
img{
    display: block;
    flex-basis: 100%;
    padding: 10px;
    box-sizing: border-box;
}