* {
    box-sizing: border-box;
  
  }

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);;
  justify-content: center;
  max-width: 875px;
  grid-gap: 25px;
  margin: 0 auto;

}
#search{
    width: 40%;
    height: 40px;
    border: 1.5px solid;
    border-color: Grey;
    border-radius: 5px;
    margin: 4px auto;
    display: flex;
}
img{
    display: block;
    flex-basis: 100%;
    padding: 10px;
    box-sizing: border-box;
}